body{
    background: black;
    background-image: url("imgs/bg.png") ;
    background-size: 100%;
    background-repeat: no-repeat;
}

#canvas1{
    /* border: 3px solid white; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-35%);
    width: 900px;
    height: 600px;
    background:white ;
    font-family: "Orbitron", sans-serif;
    background-color: transparent;
    /* background-image: url("./bg.png") ;
    
    background-size: cover; */
}